:root{
    /* Backgrounds colors */
    --bg-color-1d:#5c58b6;
    --bg-color-2d:#b957ce;
    --bg-color-3d:#5994ce;
    --bg-color-4d:#3a4e93;;
    /* ***************** */
    
    /* Border Colors */
    --border-color-d4:#b957ce;
}